# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


*.pyc

# Django migrations
**/migrations/
!*/migrations/__init__.py

# Logs
*.log

# Environment variables
.env

# VS Code settings
.vscode/

# Virtual environments (custom name)
env_Plumb/

# Static and media (if generated)
staticfiles/
media/

# macOS
.DS_Store

# Windows
Thumbs.db